In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("CE802_P2_Data.csv")

In [3]:
df.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,16,6.03,-4.56,30.00,63.04,0.55,-0.78,0.96,-1.67,1,-339.75,0.84,9.90,-2.22,-9.53,False
1,6,1.41,-4.24,31.38,100.04,0.06,1.08,0.60,-3.67,1,-246.75,-0.62,12.32,-0.56,NaN,False
2,630,43.35,0.50,50.70,219.04,-3.46,10.08,5.65,-14.67,10,-129.75,-3.40,1.80,8.48,-10.29,False
3,30,2.79,-3.58,31.83,69.04,-0.40,-0.09,0.18,-1.67,1,-276.75,-0.32,13.32,1.36,-9.92,False
4,18,0.36,-6.62,32.97,75.04,2.43,0.24,0.48,-0.67,1,-294.75,3.14,10.80,-5.86,NaN,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      1500 non-null   int64
 1   F2      1500 non-null   float64
 2   F3      1500 non-null   float64
 3   F4      1500 non-null   float64
 4   F5      1500 non-null   float64
 5   F6      1500 non-null   float64
 6   F7      1500 non-null   float64
 7   F8      1500 non-null   float64
 8   F9      1500 non-null   float64
 9   F10     1500 non-null   int64
 10  F11     1500 non-null   float64
 11  F12     1500 non-null   float64
 12  F13     1500 non-null   float64
 13  F14     1500 non-null   float64
 14  F15     750 non-null    float64
 15  Class   1500 non-null   bool
dtypes: bool(1), float64(13), int64(2)
memory usage: 177.4 KB

In [5]:
df['Class'].value_counts()

False    809
True     691
Name: Class, dtype: int64

In [6]:
df

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,16,6.03,-4.56,30.00,63.04,0.55,-0.78,0.96,-1.67,1,-339.75,0.84,9.90,-2.22,-9.53,False
1,6,1.41,-4.24,31.38,100.04,0.06,1.08,0.60,-3.67,1,-246.75,-0.62,12.32,-0.56,NaN,False
2,630,43.35,0.50,50.70,219.04,-3.46,10.08,5.65,-14.67,10,-129.75,-3.40,1.80,8.48,-10.29,False
3,30,2.79,-3.58,31.83,69.04,-0.40,-0.09,0.18,-1.67,1,-276.75,-0.32,13.32,1.36,-9.92,False
4,18,0.36,-6.62,32.97,75.04,2.43,0.24,0.48,-0.67,1,-294.75,3.14,10.80,-5.86,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,740,19.05,5.18,46.65,54.04,-3.86,15.30,9.80,-4.67,10,-534.75,1.08,1.24,4.78,NaN,False
1496,2,4.29,-5.10,30.54,86.04,1.84,-1.77,0.73,-1.67,1,-279.75,-1.56,13.72,-1.46,-10.00,False
1497,160,20.25,5.42,51.60,114.04,-3.73,15.18,7.30,-4.67,10,-399.75,0.44,-0.56,10.12,NaN,True
1498,220,20.10,2.12,50.55,239.04,-3.24,13.38,6.40,-14.67,10,-39.75,-3.72,1.22,9.06,NaN,False
1499,20,5.31,-3.02,31.44,72.04,0.74,2.16,1.02,0.33,1,-297.75,1.64,14.46,1.28,-11.14,True

In [7]:
df.isna().sum()

F1         0
F2         0
F3         0
F4         0
F5         0
F6         0
F7         0
F8         0
F9         0
F10        0
F11        0
F12        0
F13        0
F14        0
F15      750
Class      0
dtype: int64

In [8]:
df['F15'] = df['F15'].fillna(df['F15'].mean())

In [9]:
df.isna().sum()

F1       0
F2       0
F3       0
F4       0
F5       0
F6       0
F7       0
F8       0
F9       0
F10      0
F11      0
F12      0
F13      0
F14      0
F15      0
Class    0
dtype: int64

In [10]:
# df = df.dropna()

In [11]:
df

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,16,6.03,-4.56,30.00,63.04,0.55,-0.78,0.96,-1.67,1,-339.75,0.84,9.90,-2.22,-9.530000,False
1,6,1.41,-4.24,31.38,100.04,0.06,1.08,0.60,-3.67,1,-246.75,-0.62,12.32,-0.56,-10.463013,False
2,630,43.35,0.50,50.70,219.04,-3.46,10.08,5.65,-14.67,10,-129.75,-3.40,1.80,8.48,-10.290000,False
3,30,2.79,-3.58,31.83,69.04,-0.40,-0.09,0.18,-1.67,1,-276.75,-0.32,13.32,1.36,-9.920000,False
4,18,0.36,-6.62,32.97,75.04,2.43,0.24,0.48,-0.67,1,-294.75,3.14,10.80,-5.86,-10.463013,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,740,19.05,5.18,46.65,54.04,-3.86,15.30,9.80,-4.67,10,-534.75,1.08,1.24,4.78,-10.463013,False
1496,2,4.29,-5.10,30.54,86.04,1.84,-1.77,0.73,-1.67,1,-279.75,-1.56,13.72,-1.46,-10.000000,False
1497,160,20.25,5.42,51.60,114.04,-3.73,15.18,7.30,-4.67,10,-399.75,0.44,-0.56,10.12,-10.463013,True
1498,220,20.10,2.12,50.55,239.04,-3.24,13.38,6.40,-14.67,10,-39.75,-3.72,1.22,9.06,-10.463013,False
1499,20,5.31,-3.02,31.44,72.04,0.74,2.16,1.02,0.33,1,-297.75,1.64,14.46,1.28,-11.140000,True

In [12]:
# df.reset_index(drop=True,inplace=True)

In [13]:
x = df.drop(['Class'],axis=1)

In [14]:
x

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15
0,16,6.03,-4.56,30.00,63.04,0.55,-0.78,0.96,-1.67,1,-339.75,0.84,9.90,-2.22,-9.530000
1,6,1.41,-4.24,31.38,100.04,0.06,1.08,0.60,-3.67,1,-246.75,-0.62,12.32,-0.56,-10.463013
2,630,43.35,0.50,50.70,219.04,-3.46,10.08,5.65,-14.67,10,-129.75,-3.40,1.80,8.48,-10.290000
3,30,2.79,-3.58,31.83,69.04,-0.40,-0.09,0.18,-1.67,1,-276.75,-0.32,13.32,1.36,-9.920000
4,18,0.36,-6.62,32.97,75.04,2.43,0.24,0.48,-0.67,1,-294.75,3.14,10.80,-5.86,-10.463013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,740,19.05,5.18,46.65,54.04,-3.86,15.30,9.80,-4.67,10,-534.75,1.08,1.24,4.78,-10.463013
1496,2,4.29,-5.10,30.54,86.04,1.84,-1.77,0.73,-1.67,1,-279.75,-1.56,13.72,-1.46,-10.000000
1497,160,20.25,5.42,51.60,114.04,-3.73,15.18,7.30,-4.67,10,-399.75,0.44,-0.56,10.12,-10.463013
1498,220,20.10,2.12,50.55,239.04,-3.24,13.38,6.40,-14.67,10,-39.75,-3.72,1.22,9.06,-10.463013
1499,20,5.31,-3.02,31.44,72.04,0.74,2.16,1.02,0.33,1,-297.75,1.64,14.46,1.28,-11.140000

In [15]:
scaled = StandardScaler()

In [16]:
X = scaled.fit_transform(x)

In [17]:
X

array([[-8.61283676e-01, -6.84301272e-01, -7.33056612e-01, ...,
         5.18978376e-01, -1.13442665e+00,  1.31363900e+00],
       [-9.03911071e-01, -1.04047209e+00, -6.70171532e-01, ...,
         1.00484300e+00, -8.07628868e-01, -5.00205420e-15],
       [ 1.75603838e+00,  2.19281881e+00,  2.61313707e-01, ...,
        -1.10726273e+00,  9.72040962e-01,  2.43594657e-01],
       ...,
       [-2.47449187e-01,  4.11964741e-01,  1.22817180e+00, ...,
        -1.58108113e+00,  1.29490142e+00, -5.00205420e-15],
       [ 8.31518387e-03,  4.00400754e-01,  5.79669422e-01, ...,
        -1.22370962e+00,  1.08622332e+00, -5.00205420e-15],
       [-8.44232718e-01, -7.39808412e-01, -4.30422167e-01, ...,
         1.43449189e+00, -4.45395186e-01, -9.53165468e-01]])

In [18]:
y = df['Class']

In [19]:
y

0       False
1       False
2       False
3       False
4        True
        ...
1495    False
1496    False
1497     True
1498    False
1499     True
Name: Class, Length: 1500, dtype: bool

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [23]:
clf = DecisionTreeClassifier()

In [24]:
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [25]:
y_pred= clf.predict(X_test)

In [26]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7515151515151515

In [27]:
from sklearn.metrics import confusion_matrix

In [28]:
print(confusion_matrix(y_test,y_pred))

[[211  58]
 [ 65 161]]

In [29]:
df1= pd.read_csv("CE802_P2_Test.csv")

In [30]:
df1

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,4,5.58,-4.66,31.83,69.04,-0.35,-1.29,0.06,-3.67,1,-243.75,0.94,13.84,-1.48,-11.04,NaN
1,80,37.95,4.40,50.70,199.04,-4.83,5.19,7.25,-4.67,10,-474.75,-3.34,0.46,8.72,NaN,NaN
2,60,1.08,-4.14,32.13,73.04,0.14,2.01,0.59,-3.67,1,-234.75,-1.08,9.36,-1.20,-11.71,NaN
3,240,34.95,3.74,44.85,264.04,-2.92,11.52,8.45,-14.67,10,-174.75,-3.20,2.94,4.14,-10.40,NaN
4,42,4.11,-3.78,31.92,92.04,1.09,-2.67,0.72,-3.67,1,-282.75,-0.40,11.20,0.92,-11.14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,62,5.13,-5.32,32.46,72.04,1.17,-1.62,0.41,0.33,1,-306.75,1.20,9.24,0.96,NaN,NaN
1496,30,0.69,-3.96,32.70,78.04,-0.16,-0.57,0.01,-1.67,1,-288.75,1.48,9.68,-0.08,NaN,NaN
1497,94,4.95,-5.38,32.19,91.04,1.99,1.47,0.56,-1.67,1,-252.75,-0.86,12.04,-0.28,NaN,NaN
1498,70,3.72,-6.82,33.06,74.04,0.50,2.52,0.24,0.33,1,-351.75,-0.08,9.48,0.34,NaN,NaN
1499,52,3.09,-10.72,30.69,74.04,0.82,0.33,0.40,-1.67,0,-252.75,6.34,10.02,0.32,NaN,NaN

In [31]:
df1.isna().sum()

F1          0
F2          0
F3          0
F4          0
F5          0
F6          0
F7          0
F8          0
F9          0
F10         0
F11         0
F12         0
F13         0
F14         0
F15       750
Class    1500
dtype: int64

In [32]:
df1['F15'] = df1['F15'].fillna(df1['F15'].mean())

In [33]:
df1

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,4,5.58,-4.66,31.83,69.04,-0.35,-1.29,0.06,-3.67,1,-243.75,0.94,13.84,-1.48,-11.040000,NaN
1,80,37.95,4.40,50.70,199.04,-4.83,5.19,7.25,-4.67,10,-474.75,-3.34,0.46,8.72,-10.496347,NaN
2,60,1.08,-4.14,32.13,73.04,0.14,2.01,0.59,-3.67,1,-234.75,-1.08,9.36,-1.20,-11.710000,NaN
3,240,34.95,3.74,44.85,264.04,-2.92,11.52,8.45,-14.67,10,-174.75,-3.20,2.94,4.14,-10.400000,NaN
4,42,4.11,-3.78,31.92,92.04,1.09,-2.67,0.72,-3.67,1,-282.75,-0.40,11.20,0.92,-11.140000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,62,5.13,-5.32,32.46,72.04,1.17,-1.62,0.41,0.33,1,-306.75,1.20,9.24,0.96,-10.496347,NaN
1496,30,0.69,-3.96,32.70,78.04,-0.16,-0.57,0.01,-1.67,1,-288.75,1.48,9.68,-0.08,-10.496347,NaN
1497,94,4.95,-5.38,32.19,91.04,1.99,1.47,0.56,-1.67,1,-252.75,-0.86,12.04,-0.28,-10.496347,NaN
1498,70,3.72,-6.82,33.06,74.04,0.50,2.52,0.24,0.33,1,-351.75,-0.08,9.48,0.34,-10.496347,NaN
1499,52,3.09,-10.72,30.69,74.04,0.82,0.33,0.40,-1.67,0,-252.75,6.34,10.02,0.32,-10.496347,NaN

In [ ]:
X1 = df1.drop(['Class'],axis=1)

In [35]:
X1

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15
0,4,5.58,-4.66,31.83,69.04,-0.35,-1.29,0.06,-3.67,1,-243.75,0.94,13.84,-1.48,-11.040000
1,80,37.95,4.40,50.70,199.04,-4.83,5.19,7.25,-4.67,10,-474.75,-3.34,0.46,8.72,-10.496347
2,60,1.08,-4.14,32.13,73.04,0.14,2.01,0.59,-3.67,1,-234.75,-1.08,9.36,-1.20,-11.710000
3,240,34.95,3.74,44.85,264.04,-2.92,11.52,8.45,-14.67,10,-174.75,-3.20,2.94,4.14,-10.400000
4,42,4.11,-3.78,31.92,92.04,1.09,-2.67,0.72,-3.67,1,-282.75,-0.40,11.20,0.92,-11.140000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,62,5.13,-5.32,32.46,72.04,1.17,-1.62,0.41,0.33,1,-306.75,1.20,9.24,0.96,-10.496347
1496,30,0.69,-3.96,32.70,78.04,-0.16,-0.57,0.01,-1.67,1,-288.75,1.48,9.68,-0.08,-10.496347
1497,94,4.95,-5.38,32.19,91.04,1.99,1.47,0.56,-1.67,1,-252.75,-0.86,12.04,-0.28,-10.496347
1498,70,3.72,-6.82,33.06,74.04,0.50,2.52,0.24,0.33,1,-351.75,-0.08,9.48,0.34,-10.496347
1499,52,3.09,-10.72,30.69,74.04,0.82,0.33,0.40,-1.67,0,-252.75,6.34,10.02,0.32,-10.496347

In [36]:
y1 = df1['Class']

In [37]:
y1

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1495   NaN
1496   NaN
1497   NaN
1498   NaN
1499   NaN
Name: Class, Length: 1500, dtype: float64

In [38]:
y1 = lr.predict(X1)

NameError: name 'lr' is not defined

In [ ]:
y1

In [ ]:
df_final = pd.DataFrame(X1)

In [ ]:
df_final

In [ ]:
df_final['Class'] = y1

In [ ]:
df_final

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
forest = RandomForestClassifier(criterion='gini',
                                 n_estimators=5,
                                 random_state=1,
                                 n_jobs=2)

In [ ]:
forest.fit(X_train,y_train)

In [ ]:
y_forest_pred = forest.predict(X_test)

In [ ]:
print(metrics.accuracy_score(y_test,y_forest_pred))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()

In [ ]:

lr.fit(X_train, y_train)

In [ ]:
y3 = lr.predict(X_test)

In [ ]:
print(metrics.accuracy_score(y_test,y3))

In [ ]:
print(confusion_matrix(y_test,y3))

In [ ]:
# from sklearn.neighbors import KNeighborsRegressor
# knn_model = KNeighborsRegressor(n_neighbors=3)

In [ ]:
# knn_model.fit(X_train,y_train)

In [ ]:
# y5 = knn_model.predict(X_test)

In [ ]:
# import seaborn as sns
# cmap = sns.cubehelix_palette(as_cmap=True)
# f, ax = plt.subplots()
# points = ax.scatter(
#     X_test[:, 0], X_test[:, 1], c=y5, s=50, cmap=cmap)
# f.colorbar(points)
# plt.show()

In [ ]:
from sklearn import svm

In [ ]:
svm = svm.SVC()

In [ ]:
svm.fit(X_train,y_train)

In [ ]:
y6 = svm.predict(X_test)

In [ ]:
print(metrics.accuracy_score(y_test,y6))

In [ ]:
import os

In [ ]:
os.makedirs(r'test.csv', exist_ok=True)  
df_final.to_csv(r'Downloads\test.csv')