In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("CE802_P3_Data.csv")

In [3]:
df

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,UK,258.63,-162.72,-2229.84,31489.95,2.52,192.26,-11.99,12,Very low,280.78,11.44,-4.77,52.05,171.46,6,0.00
1,Europe,1033.35,-105.16,-2786.58,24534.99,7.18,46.52,-10.66,15,Very high,0.02,7.78,-6.82,26.49,119.34,4,1073.28
2,UK,-1207.47,-112.02,-3162.63,23017.47,3.85,71.06,-4.24,24,Medium,16.32,8.14,-0.91,26.97,15.96,7,1203.67
3,USA,-1090.17,-99.53,-3784.14,25597.56,1.18,-8.54,-4.70,18,High,1.08,2.28,-8.12,35.34,176.32,1,789.66
4,Europe,-2191.02,-69.12,-2956.14,24770.94,6.22,55.22,-7.82,9,Low,134.62,13.82,-5.92,31.47,117.94,4,2093.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,UK,-1248.72,-93.65,-2419.56,28588.14,2.08,130.12,-9.01,3,Low,18.42,9.20,-12.87,35.25,175.56,1,0.00
1496,UK,-276.99,-57.89,-1997.25,7154.19,6.49,-66.84,-5.33,9,Very low,1.54,20.24,0.82,53.55,142.92,3,2853.23
1497,UK,-747.84,-106.24,-2464.02,8831.85,8.65,5.54,-3.01,15,Low,25.62,1.06,-9.41,30.60,114.14,5,1629.55
1498,Europe,-893.10,-91.75,-2025.12,26506.41,6.31,24.38,-7.37,12,Very low,0.10,1.58,2.33,42.78,160.06,3,261.47
1499,USA,-1338.42,-113.49,-3532.80,20594.46,4.11,1.32,-6.09,0,Very low,0.02,7.20,-10.25,5.40,141.96,4,3656.19

In [4]:
df['Target'].value_counts()

0.00       447
222.73       2
998.85       2
300.75       2
2277.70      1
          ...
138.26       1
86.74        1
1192.01      1
1070.63      1
3656.19      1
Name: Target, Length: 1051, dtype: int64

In [4]:
df.isna().sum()

F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
F7        0
F8        0
F9        0
F10       0
F11       0
F12       0
F13       0
F14       0
F15       0
F16       0
Target    0
dtype: int64

In [5]:
df['F4'].value_counts()

-2827.53    2
-1656.90    2
-2147.43    2
-1643.28    2
-3117.18    2
           ..
-4036.53    1
-2547.57    1
-2418.39    1
-2458.83    1
-3532.80    1
Name: F4, Length: 1488, dtype: int64

In [6]:
df['F5'].value_counts()

31489.95    1
14685.06    1
27273.63    1
25433.58    1
26395.56    1
           ..
32244.87    1
35745.36    1
25861.20    1
23791.05    1
20594.46    1
Name: F5, Length: 1500, dtype: int64

In [7]:
y = df['Target']

In [8]:
y

0          0.00
1       1073.28
2       1203.67
3        789.66
4       2093.67
         ...
1495       0.00
1496    2853.23
1497    1629.55
1498     261.47
1499    3656.19
Name: Target, Length: 1500, dtype: float64

In [9]:
df = df.drop(['Target'],axis=1)

In [10]:
df

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16
0,UK,258.63,-162.72,-2229.84,31489.95,2.52,192.26,-11.99,12,Very low,280.78,11.44,-4.77,52.05,171.46,6
1,Europe,1033.35,-105.16,-2786.58,24534.99,7.18,46.52,-10.66,15,Very high,0.02,7.78,-6.82,26.49,119.34,4
2,UK,-1207.47,-112.02,-3162.63,23017.47,3.85,71.06,-4.24,24,Medium,16.32,8.14,-0.91,26.97,15.96,7
3,USA,-1090.17,-99.53,-3784.14,25597.56,1.18,-8.54,-4.70,18,High,1.08,2.28,-8.12,35.34,176.32,1
4,Europe,-2191.02,-69.12,-2956.14,24770.94,6.22,55.22,-7.82,9,Low,134.62,13.82,-5.92,31.47,117.94,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,UK,-1248.72,-93.65,-2419.56,28588.14,2.08,130.12,-9.01,3,Low,18.42,9.20,-12.87,35.25,175.56,1
1496,UK,-276.99,-57.89,-1997.25,7154.19,6.49,-66.84,-5.33,9,Very low,1.54,20.24,0.82,53.55,142.92,3
1497,UK,-747.84,-106.24,-2464.02,8831.85,8.65,5.54,-3.01,15,Low,25.62,1.06,-9.41,30.60,114.14,5
1498,Europe,-893.10,-91.75,-2025.12,26506.41,6.31,24.38,-7.37,12,Very low,0.10,1.58,2.33,42.78,160.06,3
1499,USA,-1338.42,-113.49,-3532.80,20594.46,4.11,1.32,-6.09,0,Very low,0.02,7.20,-10.25,5.40,141.96,4

In [11]:
# from sklearn.preprocessing import OneHotEncoder

In [12]:
# scaled = OneHotEncoder()

In [13]:
# scaled.fit(df)

In [14]:
# scaled = scaled.transform(df)

In [15]:
# scaled

In [16]:
# from sklearn.model_selection import train_test_split

In [17]:
# from sklearn.linear_model import LinearRegression

In [18]:
# LinearRegression()

In [19]:
# X_train, X_test, y_train, y_test = train_test_split(scaled, y, test_size=0.33, random_state=42)

In [20]:
# lm = LinearRegression()

In [21]:
# lm.fit(X_train,y_train)

In [22]:
# y_pred = lm.predict(X_test)

In [23]:
# from sklearn.metrics import r2_score

In [24]:
# print(r2_score(y_test,y_pred))

In [25]:
df_cat = df[['F1','F10']]

In [26]:
df_cat

          F1        F10
0         UK   Very low
1     Europe  Very high
2         UK     Medium
3        USA       High
4     Europe        Low
...      ...        ...
1495      UK        Low
1496      UK   Very low
1497      UK        Low
1498  Europe   Very low
1499     USA   Very low

[1500 rows x 2 columns]

In [27]:
df_dummies = pd.get_dummies(df_cat)

In [28]:
df_dummies

,F1_Europe,F1_Rest,F1_UK,F1_USA,F10_High,F10_Low,F10_Medium,F10_Very high,F10_Very low
0,0,0,1,0,0,0,0,0,1
1,1,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,1,0,0
3,0,0,0,1,1,0,0,0,0
4,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
1495,0,0,1,0,0,1,0,0,0
1496,0,0,1,0,0,0,0,0,1
1497,0,0,1,0,0,1,0,0,0
1498,1,0,0,0,0,0,0,0,1
1499,0,0,0,1,0,0,0,0,1

In [29]:
df_new = df.drop(['F1','F10'],axis=1)

In [30]:
df_new

,F2,F3,F4,F5,F6,F7,F8,F9,F11,F12,F13,F14,F15,F16
0,258.63,-162.72,-2229.84,31489.95,2.52,192.26,-11.99,12,280.78,11.44,-4.77,52.05,171.46,6
1,1033.35,-105.16,-2786.58,24534.99,7.18,46.52,-10.66,15,0.02,7.78,-6.82,26.49,119.34,4
2,-1207.47,-112.02,-3162.63,23017.47,3.85,71.06,-4.24,24,16.32,8.14,-0.91,26.97,15.96,7
3,-1090.17,-99.53,-3784.14,25597.56,1.18,-8.54,-4.70,18,1.08,2.28,-8.12,35.34,176.32,1
4,-2191.02,-69.12,-2956.14,24770.94,6.22,55.22,-7.82,9,134.62,13.82,-5.92,31.47,117.94,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-1248.72,-93.65,-2419.56,28588.14,2.08,130.12,-9.01,3,18.42,9.20,-12.87,35.25,175.56,1
1496,-276.99,-57.89,-1997.25,7154.19,6.49,-66.84,-5.33,9,1.54,20.24,0.82,53.55,142.92,3
1497,-747.84,-106.24,-2464.02,8831.85,8.65,5.54,-3.01,15,25.62,1.06,-9.41,30.60,114.14,5
1498,-893.10,-91.75,-2025.12,26506.41,6.31,24.38,-7.37,12,0.10,1.58,2.33,42.78,160.06,3
1499,-1338.42,-113.49,-3532.80,20594.46,4.11,1.32,-6.09,0,0.02,7.20,-10.25,5.40,141.96,4

In [31]:
df = pd.concat([df_new,df_dummies],axis=1)

In [32]:
df

,F2,F3,F4,F5,F6,F7,F8,F9,F11,F12,...,F16,F1_Europe,F1_Rest,F1_UK,F1_USA,F10_High,F10_Low,F10_Medium,F10_Very high,F10_Very low
0,258.63,-162.72,-2229.84,31489.95,2.52,192.26,-11.99,12,280.78,11.44,...,6,0,0,1,0,0,0,0,0,1
1,1033.35,-105.16,-2786.58,24534.99,7.18,46.52,-10.66,15,0.02,7.78,...,4,1,0,0,0,0,0,0,1,0
2,-1207.47,-112.02,-3162.63,23017.47,3.85,71.06,-4.24,24,16.32,8.14,...,7,0,0,1,0,0,0,1,0,0
3,-1090.17,-99.53,-3784.14,25597.56,1.18,-8.54,-4.70,18,1.08,2.28,...,1,0,0,0,1,1,0,0,0,0
4,-2191.02,-69.12,-2956.14,24770.94,6.22,55.22,-7.82,9,134.62,13.82,...,4,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-1248.72,-93.65,-2419.56,28588.14,2.08,130.12,-9.01,3,18.42,9.20,...,1,0,0,1,0,0,1,0,0,0
1496,-276.99,-57.89,-1997.25,7154.19,6.49,-66.84,-5.33,9,1.54,20.24,...,3,0,0,1,0,0,0,0,0,1
1497,-747.84,-106.24,-2464.02,8831.85,8.65,5.54,-3.01,15,25.62,1.06,...,5,0,0,1,0,0,1,0,0,0
1498,-893.10,-91.75,-2025.12,26506.41,6.31,24.38,-7.37,12,0.10,1.58,...,3,1,0,0,0,0,0,0,0,1
1499,-1338.42,-113.49,-3532.80,20594.46,4.11,1.32,-6.09,0,0.02,7.20,...,4,0,0,0,1,0,0,0,0,1

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
# scaled= StandardScaler()

In [35]:
# scaled.fit(df)

In [36]:
# df= scaled.transform(df)

In [37]:
# df

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
lm = LinearRegression()

In [42]:
lm.fit(X_train,y_train)

LinearRegression()

In [43]:
y_pred = lm.predict(X_test)

In [44]:
from sklearn.metrics import r2_score

In [45]:
print(r2_score(y_test,y_pred))

0.7878344176172

In [46]:
df1= pd.read_csv("CE802_P3_Test.csv")

In [47]:
df1

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,Rest,-1241.58,-132.64,-1706.31,35524.89,5.17,96.82,-3.08,12,Low,0.32,10.92,-0.83,15.60,193.70,3,NaN
1,Europe,-132.09,-113.12,-850.02,39549.27,4.27,30.16,-6.88,15,Very high,1.54,6.72,-10.07,22.41,238.70,3,NaN
2,USA,95.10,-101.95,-1719.48,-2724.33,4.69,125.88,-3.10,12,High,0.00,16.56,-7.42,23.25,149.26,2,NaN
3,USA,2067.24,-118.41,-3986.37,32421.45,5.21,79.06,-11.68,12,High,8.32,17.92,1.38,27.42,310.32,3,NaN
4,Rest,-2080.44,-47.43,-1509.36,24896.07,6.37,69.80,-10.97,9,High,0.38,15.92,-6.15,23.22,241.56,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,USA,-937.56,-114.26,-2626.62,10978.71,3.52,92.24,-7.87,18,Medium,0.60,10.34,2.44,32.37,190.64,6,NaN
1496,Rest,-476.82,-69.66,-2757.24,1481.61,1.51,-94.08,-2.89,12,Medium,12.90,17.42,0.91,30.12,220.88,6,NaN
1497,USA,-790.95,-59.32,-1853.31,3666.00,3.35,41.54,-12.10,15,Medium,36.96,6.26,-3.36,39.39,167.80,4,NaN
1498,UK,-1316.28,-86.89,-3527.10,15709.71,16.53,-10.22,-7.79,15,High,14.16,14.96,5.31,9.06,63.18,3,NaN
1499,Rest,123.30,-87.54,-1685.64,8264.58,5.26,-31.22,-6.96,0,Very low,0.26,4.50,-2.98,32.25,264.98,2,NaN

In [48]:
y1 = df1['Target']

In [49]:
X1 = df1.drop(['Target'],axis=1)

In [50]:
X1

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16
0,Rest,-1241.58,-132.64,-1706.31,35524.89,5.17,96.82,-3.08,12,Low,0.32,10.92,-0.83,15.60,193.70,3
1,Europe,-132.09,-113.12,-850.02,39549.27,4.27,30.16,-6.88,15,Very high,1.54,6.72,-10.07,22.41,238.70,3
2,USA,95.10,-101.95,-1719.48,-2724.33,4.69,125.88,-3.10,12,High,0.00,16.56,-7.42,23.25,149.26,2
3,USA,2067.24,-118.41,-3986.37,32421.45,5.21,79.06,-11.68,12,High,8.32,17.92,1.38,27.42,310.32,3
4,Rest,-2080.44,-47.43,-1509.36,24896.07,6.37,69.80,-10.97,9,High,0.38,15.92,-6.15,23.22,241.56,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,USA,-937.56,-114.26,-2626.62,10978.71,3.52,92.24,-7.87,18,Medium,0.60,10.34,2.44,32.37,190.64,6
1496,Rest,-476.82,-69.66,-2757.24,1481.61,1.51,-94.08,-2.89,12,Medium,12.90,17.42,0.91,30.12,220.88,6
1497,USA,-790.95,-59.32,-1853.31,3666.00,3.35,41.54,-12.10,15,Medium,36.96,6.26,-3.36,39.39,167.80,4
1498,UK,-1316.28,-86.89,-3527.10,15709.71,16.53,-10.22,-7.79,15,High,14.16,14.96,5.31,9.06,63.18,3
1499,Rest,123.30,-87.54,-1685.64,8264.58,5.26,-31.22,-6.96,0,Very low,0.26,4.50,-2.98,32.25,264.98,2

In [51]:
df1_cat = df1[['F1','F10']]

In [52]:
df1_cat

          F1        F10
0       Rest        Low
1     Europe  Very high
2        USA       High
3        USA       High
4       Rest       High
...      ...        ...
1495     USA     Medium
1496    Rest     Medium
1497     USA     Medium
1498      UK       High
1499    Rest   Very low

[1500 rows x 2 columns]

In [53]:
df1_dummies = pd.get_dummies(df1_cat)

In [54]:
df1_dummies

,F1_Europe,F1_Rest,F1_UK,F1_USA,F10_High,F10_Low,F10_Medium,F10_Very high,F10_Very low
0,0,1,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,1,0
2,0,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0,0
4,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1495,0,0,0,1,0,0,1,0,0
1496,0,1,0,0,0,0,1,0,0
1497,0,0,0,1,0,0,1,0,0
1498,0,0,1,0,1,0,0,0,0
1499,0,1,0,0,0,0,0,0,1

In [55]:
df1_new = df1.drop(['F1','F10'],axis=1)

In [56]:
df1_new

,F2,F3,F4,F5,F6,F7,F8,F9,F11,F12,F13,F14,F15,F16,Target
0,-1241.58,-132.64,-1706.31,35524.89,5.17,96.82,-3.08,12,0.32,10.92,-0.83,15.60,193.70,3,NaN
1,-132.09,-113.12,-850.02,39549.27,4.27,30.16,-6.88,15,1.54,6.72,-10.07,22.41,238.70,3,NaN
2,95.10,-101.95,-1719.48,-2724.33,4.69,125.88,-3.10,12,0.00,16.56,-7.42,23.25,149.26,2,NaN
3,2067.24,-118.41,-3986.37,32421.45,5.21,79.06,-11.68,12,8.32,17.92,1.38,27.42,310.32,3,NaN
4,-2080.44,-47.43,-1509.36,24896.07,6.37,69.80,-10.97,9,0.38,15.92,-6.15,23.22,241.56,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-937.56,-114.26,-2626.62,10978.71,3.52,92.24,-7.87,18,0.60,10.34,2.44,32.37,190.64,6,NaN
1496,-476.82,-69.66,-2757.24,1481.61,1.51,-94.08,-2.89,12,12.90,17.42,0.91,30.12,220.88,6,NaN
1497,-790.95,-59.32,-1853.31,3666.00,3.35,41.54,-12.10,15,36.96,6.26,-3.36,39.39,167.80,4,NaN
1498,-1316.28,-86.89,-3527.10,15709.71,16.53,-10.22,-7.79,15,14.16,14.96,5.31,9.06,63.18,3,NaN
1499,123.30,-87.54,-1685.64,8264.58,5.26,-31.22,-6.96,0,0.26,4.50,-2.98,32.25,264.98,2,NaN

In [57]:
df1_final = pd.concat([df1_new,df1_dummies],axis=1)

In [58]:
df1_final= df1_final.drop(["Target"],axis=1)

In [59]:
df1_final

,F2,F3,F4,F5,F6,F7,F8,F9,F11,F12,...,F16,F1_Europe,F1_Rest,F1_UK,F1_USA,F10_High,F10_Low,F10_Medium,F10_Very high,F10_Very low
0,-1241.58,-132.64,-1706.31,35524.89,5.17,96.82,-3.08,12,0.32,10.92,...,3,0,1,0,0,0,1,0,0,0
1,-132.09,-113.12,-850.02,39549.27,4.27,30.16,-6.88,15,1.54,6.72,...,3,1,0,0,0,0,0,0,1,0
2,95.10,-101.95,-1719.48,-2724.33,4.69,125.88,-3.10,12,0.00,16.56,...,2,0,0,0,1,1,0,0,0,0
3,2067.24,-118.41,-3986.37,32421.45,5.21,79.06,-11.68,12,8.32,17.92,...,3,0,0,0,1,1,0,0,0,0
4,-2080.44,-47.43,-1509.36,24896.07,6.37,69.80,-10.97,9,0.38,15.92,...,2,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-937.56,-114.26,-2626.62,10978.71,3.52,92.24,-7.87,18,0.60,10.34,...,6,0,0,0,1,0,0,1,0,0
1496,-476.82,-69.66,-2757.24,1481.61,1.51,-94.08,-2.89,12,12.90,17.42,...,6,0,1,0,0,0,0,1,0,0
1497,-790.95,-59.32,-1853.31,3666.00,3.35,41.54,-12.10,15,36.96,6.26,...,4,0,0,0,1,0,0,1,0,0
1498,-1316.28,-86.89,-3527.10,15709.71,16.53,-10.22,-7.79,15,14.16,14.96,...,3,0,0,1,0,1,0,0,0,0
1499,123.30,-87.54,-1685.64,8264.58,5.26,-31.22,-6.96,0,0.26,4.50,...,2,0,1,0,0,0,0,0,0,1

In [60]:
# scaled.fit(df1_final)

In [61]:
# df_latest = scaled.transform(df1_final)

In [62]:
# df_latest

In [63]:
y1 =lm.predict(df1_final)

In [64]:
y1

array([ 256.72087487,  310.1295304 ,  987.82558098, ..., 1009.94786283,
       4050.90707327,  600.42718858])

In [65]:
# inversed = scaled.inverse_transform(df1['Target'])

In [66]:
df1['Target'] = y1

In [67]:
df1

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,Rest,-1241.58,-132.64,-1706.31,35524.89,5.17,96.82,-3.08,12,Low,0.32,10.92,-0.83,15.60,193.70,3,256.720875
1,Europe,-132.09,-113.12,-850.02,39549.27,4.27,30.16,-6.88,15,Very high,1.54,6.72,-10.07,22.41,238.70,3,310.129530
2,USA,95.10,-101.95,-1719.48,-2724.33,4.69,125.88,-3.10,12,High,0.00,16.56,-7.42,23.25,149.26,2,987.825581
3,USA,2067.24,-118.41,-3986.37,32421.45,5.21,79.06,-11.68,12,High,8.32,17.92,1.38,27.42,310.32,3,1940.421149
4,Rest,-2080.44,-47.43,-1509.36,24896.07,6.37,69.80,-10.97,9,High,0.38,15.92,-6.15,23.22,241.56,2,1384.539331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,USA,-937.56,-114.26,-2626.62,10978.71,3.52,92.24,-7.87,18,Medium,0.60,10.34,2.44,32.37,190.64,6,1427.745951
1496,Rest,-476.82,-69.66,-2757.24,1481.61,1.51,-94.08,-2.89,12,Medium,12.90,17.42,0.91,30.12,220.88,6,2277.260399
1497,USA,-790.95,-59.32,-1853.31,3666.00,3.35,41.54,-12.10,15,Medium,36.96,6.26,-3.36,39.39,167.80,4,1009.947863
1498,UK,-1316.28,-86.89,-3527.10,15709.71,16.53,-10.22,-7.79,15,High,14.16,14.96,5.31,9.06,63.18,3,4050.907073
1499,Rest,123.30,-87.54,-1685.64,8264.58,5.26,-31.22,-6.96,0,Very low,0.26,4.50,-2.98,32.25,264.98,2,600.427189

In [68]:
df1 = df1[(df1['Target']>0)]

In [69]:
df1

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,Rest,-1241.58,-132.64,-1706.31,35524.89,5.17,96.82,-3.08,12,Low,0.32,10.92,-0.83,15.60,193.70,3,256.720875
1,Europe,-132.09,-113.12,-850.02,39549.27,4.27,30.16,-6.88,15,Very high,1.54,6.72,-10.07,22.41,238.70,3,310.129530
2,USA,95.10,-101.95,-1719.48,-2724.33,4.69,125.88,-3.10,12,High,0.00,16.56,-7.42,23.25,149.26,2,987.825581
3,USA,2067.24,-118.41,-3986.37,32421.45,5.21,79.06,-11.68,12,High,8.32,17.92,1.38,27.42,310.32,3,1940.421149
4,Rest,-2080.44,-47.43,-1509.36,24896.07,6.37,69.80,-10.97,9,High,0.38,15.92,-6.15,23.22,241.56,2,1384.539331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,USA,-937.56,-114.26,-2626.62,10978.71,3.52,92.24,-7.87,18,Medium,0.60,10.34,2.44,32.37,190.64,6,1427.745951
1496,Rest,-476.82,-69.66,-2757.24,1481.61,1.51,-94.08,-2.89,12,Medium,12.90,17.42,0.91,30.12,220.88,6,2277.260399
1497,USA,-790.95,-59.32,-1853.31,3666.00,3.35,41.54,-12.10,15,Medium,36.96,6.26,-3.36,39.39,167.80,4,1009.947863
1498,UK,-1316.28,-86.89,-3527.10,15709.71,16.53,-10.22,-7.79,15,High,14.16,14.96,5.31,9.06,63.18,3,4050.907073
1499,Rest,123.30,-87.54,-1685.64,8264.58,5.26,-31.22,-6.96,0,Very low,0.26,4.50,-2.98,32.25,264.98,2,600.427189